// Colors
$off-black: #1f2338;
$dark-blue: #232d3d;
$blue: #2d3e5c;
$light-blue: #384961;
$off-white: #ffff;
$purple: #e66b36;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
